.about {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 .5rem;
}

.about__title {
  font-size: 4.2rem;
  font-weight: 700;
  padding: 2rem;
  color: var(--light-green);
  text-align: center;
}

.about__container {
  width: 100%;
}

.about__image {
  float: right;
  width: 40%;
  height: auto;
}

.about__text {
  font-size: 1.8rem;
  font-weight: 200;
  font-family: var(--montserrat);
  margin-bottom: 2rem;
  padding: .5rem;  letter-spacing: .1rem;
}

.about__image {
  width: 15rem;
  border-radius: 100%;
}

@media screen and (max-width: 768px) {
  .about {
    width: 95%;
    margin: 0 auto;
    padding: 0 .5rem;
    border-radius: 0 5rem 5rem 75rem;
    background-color: var(--light-pink)
  }

  .about__title {
    font-size: 3.8rem;
  }
}