.carrossel {
  width: 100%;
}

.carrossel-container {
  align-items: center;
  display: flex;
  height: 40rem;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
}

.carrossel-item {
  height: 30rem;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 28rem;
}

.card-carrossel {
  width: 100%;
  height: 100%;
  border-radius: 3rem;
}

.card-carrossel-text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.5rem;
  font-family: var(--montserrat);
  color: var(--grey);
  padding: 1rem;
}

.card-carrossel-text-name {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--dark-pink);
  text-align: center;
  justify-content: flex-end;
  margin-top: 2rem;
}

.carrossel-item.carrossel-item-selected {
  box-shadow: 2rem 2rem 6rem #d3cfcf;
  height: 38rem;
  opacity: 1;
  border-radius: 3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 28rem;
  z-index: 2;
  background-color: var(--light-pink);
}

.carrossel-item.carrossel-item-previous {
  left: 30%;
  transform: translateX(-50%);
}

.carrossel-item.carrossel-item-next {
  left: 70%;
  transform: translateX(-50%);
}

.carrossel-item.carrossel-item-first {
  left: 15%;
  transform: translateX(-50%);
}

.carrossel-item.carrossel-item-last {
  left: 85%;
  transform: translateX(-50%);
}

.carrossel-controls {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
  position: relative;
  bottom: 25rem;
}

.carrossel-controls button {
  border: 0;
  border-radius: 100%;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0 5rem;
  width: 4rem;
  height: 4rem;
  background-color: var(--red);
  color: #fff;
}

.carrossel-controls button:focus {
  outline: none;
}

.carrossel-controls-previous {
  position: relative;
}

.carrossel-controls-previous::before {
  border: solid #000;
  border-width: 0 0.2rem 0.2rem 0;
  content: "";
  display: inline-block;
  height: 0.4rem;
  left: -1rem;
  padding: 0.2rem;
  position: absolute;
  top: 0;
  transform: rotate(135deg) translateY(-50%);
  transition: left 0.15s ease-in-out;
  width: 0.4rem;
}

.carrossel-controls-previous:hover::before {
  left: -1.8rem;
}

.carrossel-controls-next {
  position: relative;
}

.carrossel-controls-next::before {
  border: solid #000;
  border-width: 0 0.2rem 0.2rem 0;
  content: "";
  display: inline-block;
  height: 0.4rem;
  padding: 0.2rem;
  position: absolute;
  right: -1rem;
  top: 50%;
  transform: rotate(-45deg) translateY(-50%);
  transition: right 0.15s ease-in-out;
  width: 0.4rem;
}

.carrossel-controls-next:hover::before {
  right: -1.8rem;
}

.carrossel-nav {
  top: 45rem;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
}

.carrossel-nav li.carrossel-item-selected {
  background: var(--senary-color);
}

p.mark-blue {
  font-size: 0.9em;
  color: #084298;
  font-weight: 500;
}
/* 
/* .carrossel-item-previous, .carrossel-item-next {
  display: none;
} */ 